include README.md
include LICENSE
include CONTRIBUTING.md
include CHANGELOG.md
include requirements.txt
recursive-include examples *.py
recursive-include tests *.py
recursive-include notebooks *.ipynb

